<%= form_for(@wiki) do |f| %>
  <% if @wiki.errors.any? %>
  <div class="alert alert-danger">
    <div id="error_explanation">
      <h2>There are <%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>
      <ul>
      <% @wiki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>

<div class="container">
  <div class="field">
      <h3><%= f.label :title %></h3>
      <%= f.text_field :title,class: 'form-control'%>
    </div>
    <div class="field">
    <h3>  <%= f.label :body %></h3>
      <%= f.text_area :body ,class: 'form-control'%>
    </div>
    <div class="field">
      <%= f.label :private %>
      <%= f.check_box :private %>
    </div>
    <div class="field">
      <h3><%= f.label :user_id %></h3>
      <%= f.text_field :user_id ,class: 'form-control'%>
    </div>
  </br>
    <div class="form-group">
       <%= f.submit "Save", class: 'btn btn-success' %>
     </div>
  </div>
<% end %>
