<div class="container">
<p id="notice"><%= notice %></p>
<h1><%= markdown_to_html @wiki.title %></h1>

<h3>   <strong>Title:</strong>
 <%= @wiki.title%> </h3>

<p>
  <strong>Body:</strong>
  <%= @wiki.body %>
</p>

<p>
  <strong>Private:</strong>
  <%= @wiki.private %>
</p>

<p>
  <strong>User:</strong>
  <%= @wiki.user %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
</div>
